html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LAYOUT SETTINGS */
.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100vh;
}

/* layout for smartphones */
@media screen and (max-width: 480px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 90vh 5vh;
    grid-template-areas:
      "header"
      "content"
      "footer";
    min-height: 100vh;
  }
}

.layout header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  grid-area: header;
  background-color: rgb(242, 242, 245);
}

/* have to fix this one */
.layout main {
  display: flex;
  grid-area: content;
  background-color: rgb(46, 47, 46);
  overflow: auto;
  align-content: center;
  justify-content: center;
}

#columnMain {
  display: flex;
  background-color: rgb(242, 242, 245);
  width: 70vw;
  height: 90vh;
}

#content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  grid-template-areas:
    "PokeContainer Stats"
    "EvolutionContainer EvolutionContainer";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #content {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-columns: 1fr;
    width: 70vw;
    grid-template-areas:
      "PokeContainer"
      "Stats"
      "EvolutionContainer";
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
}

/* SINGLE BIG POKEMON CARD */
#pokeContainer {
  grid-area: PokeContainer;
  border-radius: 8px;
  background-color: aliceblue;
  color: gray;
  width: 65%;
  height: 80%;
  align-self: flex-end;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "image name"
    "image types"
    "number measures";
  overflow: hidden;
}

#pokeContainer p {
  grid-area: number;
  /* grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  font-size: 125px; */
  font-size: xx-large;
  opacity: 50%;
  font-weight: 700;
  color: black;
  width: 100%;
  text-align: center;
}

#pokeImage {
  grid-area: image;
  grid-row: 1/4;
}

#pokeImage img {
  width: 95%;
}

#pokeContainer h1 {
  grid-area: name;
  font-weight: 700;
  font-size: xx-large;
  text-transform: capitalize;
}

.types {
  grid-area: types;
  text-align: center;
  font-size: x-large;
  text-transform: capitalize;
}

.types li {
  border: white solid 2px;
  border-radius: 30px;
  color: white;
  padding: 6px;
  width: 100px;
  height: auto;
}

.measures {
  grid-area: measures;
  font-size: large;
}

.measures,
.types {
  list-style-type: none;
  padding: 0%;
  display: flex;
  align-self: flex-start;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

/* pokeContainer smartphones */
@media screen and (max-width: 480px) {
  #pokeContainer {
    grid-area: PokeContainer;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr 1fr;
    grid-template-areas:
      "name"
      "image"
      "types"
      "measures"
      "number";
  }

  #pokeContainer h1 {
    font-size: x-large;
    padding-top: 4px;
  }

  #pokeImage img {
    width: 48%;
  }

  .types {
    font-size: large;
  }

  .types li {
    padding: 4px;
    width: 80px;
  }

  .measures {
    font-size: medium;
  }

  #pokeContainer p {
    font-size: medium;
    padding-bottom: 4px;
  }
}

.statsContainer {
  grid-area: Stats;
  border-radius: 8px;
  background-color: rgb(63, 178, 224);
  color: black;
  width: 60%;
  height: 80%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
  margin-left: 5%;
  overflow: hidden;
}

.statsContainer h2 {
  color: white;
  font-size: xx-large;
  font-weight: 700;
  padding-bottom: 20px;
  align-self: center;
}

.statsList {
  padding-left: 10%;
}

.statsList span {
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0.8;
}

.statsList li {
  font-size: 18px;
  font-weight: 400;
}

/* stats container for smartphone */
@media screen and (max-width: 480px) {
  .statsContainer {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    border-radius: 0px;
  }

  .statsContainer h2 {
    font-size: x-large;
    font-weight: 500;
    padding-bottom: 0px;
  }

  .statsList span {
    font-weight: 300;
    font-size: medium;
    letter-spacing: 0.7;
  }

  .statsList li {
    font-size: medium;
  }
}

#evolutionChainContainer {
  grid-area: EvolutionContainer;
  grid-column-start: -3;
  grid-column-end: -1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-self: center;
  text-align: center;
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: 15px;
  width: 65%;
  height: 80%;
  overflow: hidden;
}
.titleContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.evolutionCard img {
  width: 8vw;
  border: solid white 4px;
  border-radius: 100vw;
}

.type li {
  text-transform: capitalize;
  padding: 4px;
  min-width: 60px;
}
.name_id h3 {
  font-weight: 500;
}

.name_id {
  display: flex;
  justify-content: space-evenly;
  padding: 4px 0;
  text-transform: capitalize;
}

.type {
  display: flex;
  justify-content: center;
}

/* evolutionChain container for smartphone */
@media screen and (max-width: 480px) {
  #evolutionChainContainer {
    flex-direction: column;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }

  .evolutionCard img {
    width: 25%;
    border: solid white 2px;
  }

  .name_id {
    font-size: medium;
  }

  .type li {
    padding: 2px;
    min-width: 60px;
    font-size: medium;
  }
}
