.pokemonTypeColor-normal {
  background-color: #a8a878;
}
.pokemonTypeColor-fire {
  background-color: #f08030;
}
.pokemonTypeColor-water {
  background-color: #6890f0;
}
.pokemonTypeColor-electric {
  background-color: #f8d030;
}
.pokemonTypeColor-grass {
  background-color: #78c850;
}
.pokemonTypeColor-ice {
  background-color: #98d8d8;
}
.pokemonTypeColor-fighting {
  background-color: #c03028;
}
.pokemonTypeColor-poison {
  background-color: #a040a0;
}
.pokemonTypeColor-ground {
  background-color: #e0c068;
}
.pokemonTypeColor-flying {
  background-color: #a890f0;
}
.pokemonTypeColor-psychic {
  background-color: #f85888;
}
.pokemonTypeColor-bug {
  background-color: #a8b820;
}
.pokemonTypeColor-rock {
  background-color: #b8a038;
}
.pokemonTypeColor-ghost {
  background-color: #705898;
}
.pokemonTypeColor-dragon {
  background-color: #7038f8;
}
.pokemonTypeColor-dark {
  background-color: #705848;
}
.pokemonTypeColor-steel {
  background-color: #b8b8d0;
}
.pokemonTypeColor-fairy {
  background-color: #ee99ac;
}
